<ul class="list-inline total-result">
    <li>
        <h4>Subtotal:</h4>
        <div class="total-result-in">
            <span>$ <%= get_the_subtotal %>.00</span>
        </div>    
    </li>    
    <li>
        <h4>Shipping:</h4>
        <div class="total-result-in">
            <span class="text-right">- - - -</span>
        </div>
    </li>
    <li class="divider"></li>
    <li class="total-price">
        <h4>Total:</h4>
        <div class="total-result-in">
            <span>$ <%= get_the_subtotal %>.00</span>
        </div>
    </li>
</ul>