<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
	<div class="container">
    <h1 class="pull-left">About Us</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active">About Us</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">		
	<div class="row margin-bottom-40">
  	<div class="col-md-6 md-margin-bottom-40">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <ul class="list-unstyled">
        <li><i class="fa fa-check color-sea-green"></i> Donec id elit non mi porta gravida</li>
        <li><i class="fa fa-check color-sea-green"></i> Corporate and Creative</li>
        <li><i class="fa fa-check color-sea-green"></i> Elit non mi porta gravida</li>
        <li><i class="fa fa-check color-sea-green"></i> Award winning digital agency</li>
        <li><i class="fa fa-check color-sea-green"></i> Elit non mi porta gravida</li>
      </ul><br />

      <!-- Blockquotes -->
      <blockquote class="hero-unify">
        <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why.</p>
        <small>CEO Jack Bour</small>
      </blockquote>
    </div>
  	<div class="col-md-6 md-margin-bottom-40">
      <div class="responsive-video">
        <iframe src="https://www.youtube.com/embed/BvmfmUca2rM" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
      </div>
    </div>
  </div><!--/row-->

  <!-- Meer Our Team -->
	<div class="headline"><h2>Meet Our Team</h2></div>
    <div class="row team">
      <div class="col-sm-3">
        <div class="thumbnail-style">
          <img class="img-responsive" src="assets/team/img1-md.jpg" alt="" />
          <h3><a>Jack Bour</a> <small>Chief Executive Officer</small></h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
          <ul class="list-unstyled list-inline team-socail">
          	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
          	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
          	<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail-style">
          <img class="img-responsive" src="assets/team/img1-md.jpg" alt="" />
          <h3><a>Kate Metus</a> <small>Project Manager</small></h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
          <ul class="list-unstyled list-inline team-socail">
          	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
          	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
          	<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail-style">
          <img class="img-responsive" src="assets/team/img1-md.jpg" alt="" />
          <h3><a>Porta Gravida</a> <small>VP of Operations</small></h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
          <ul class="list-unstyled list-inline team-socail">
          	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
          	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
          	<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail-style">
          <img class="img-responsive" src="assets/team/img1-md.jpg" alt="" />
          <h3><a>Donec Elit</a> <small>Director, R &amp; D Talent</small></h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
          <ul class="list-unstyled list-inline team-socail">
          	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
          	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
          	<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div><!--/team-->
  </div>
	<!-- End Meer Our Team -->
</div>