<link rel="stylesheet" href="assets/jquery-steps/css/custom-jquery.steps.css">
<!--=== Breadcrumbs v4 ===-->
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">Check Out</span>
            <h1>Maecenas <span class="shop-green">enim</span> sapien</h1>
            <ul class="breadcrumb-v4-in">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Product</a></li>
                <li class="active">Shopping Cart</li>
            </ul>
        </div><!--/end container-->
    </div> 
    <!--=== End Breadcrumbs v4 ===-->

    <!--=== Content Medium Part ===-->
    <div class="content-md margin-bottom-30">
        <div class="container">
            <form class="shopping-cart" action="#">
                <div>
                    <div class="header-tags">            
                        <div class="overflow-h">
                            <h2>Shopping Cart</h2>
                            <p>Review &amp; edit your product</p>
                            <i class="rounded-x fa fa-check"></i>
                        </div>    
                    </div>
                    <section id="cart-section" class="current body" >
                        <%= render partial: 'cart_section' %>
                    </section>
                    
                    <div class="header-tags">
                        <div class="overflow-h">
                            <h2>Billing info</h2>
                            <p>Shipping and address info</p>
                            <i class="rounded-x fa fa-home"></i>
                        </div>    
                    </div>
                    <section class="billing-info">
                        <div class="row">
                            <div class="col-md-1 md-margin-bottom-40">
                            </div>
                            <div class="col-md-10">
                                <h2 class="title-type">Shipping Address</h2>
                                <div class="billing-info-inputs checkbox-list">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input id="name" type="text" placeholder="First Name" name="firstname" class="form-control">
                                            <input id="email" type="text" placeholder="Email" name="email" class="form-control email">
                                        </div>
                                        <div class="col-sm-6">
                                            <input id="surname" type="text" placeholder="Last Name" name="lastname" class="form-control">
                                            <input id="phone" type="tel" placeholder="Phone" name="phone" class="form-control">
                                        </div>
                                    </div>
                                    <input id="shippingAddress" type="text" placeholder="Address Line 1" name="address1" class="form-control">
                                    <input id="shippingAddress2" type="text" placeholder="Address Line 2" name="address2" class="form-control">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input id="city" type="text" placeholder="City" name="city" class="form-control">
                                        </div>
                                        <div class="col-sm-6">
                                            <input id="zip" type="text" placeholder="Zip/Postal Code" name="zip" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input id="state" type="text" placeholder="State/Province" name="state" class="form-control">
                                        </div>
                                        <div class="col-sm-6">
                                            <input id="country" type="text" placeholder="Country" name="country" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 md-margin-bottom-40">
                            </div>
                        </div>       
                    </section>
                    <div class="coupon-code">
                        <div class="row">
                            <div class="col-sm-4 sm-margin-bottom-30">
                                <!-- <h3>Discount Code</h3>
                                <p>Enter your coupon code</p>
                                <input class="form-control margin-bottom-10" name="code" type="text">
                                <button type="button" class="btn-u btn-u-sea-shop">Apply Coupon</button> -->
                            </div>
                            <div id="checkout-subtotal" class="col-sm-3 col-sm-offset-5">
                                <%= render partial: 'checkout_subtotal' %>
                            </div>
                        </div>
                    </div>    
                </div>
                <a href='/payment' class="btn-u btn-u-sea-shop pull-right" onclick='formValidation(event)' >Proceed to Checkout</a>
            </form>
        </div><!--/end container-->
    </div>
    <!--=== End Content Medium Part ===-->     

    <!--=== Shop Suvbscribe ===-->
    <div class="shop-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-8 md-margin-bottom-20">
                    <h2>subscribe to our weekly <strong>newsletter</strong></h2>
                </div>  
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email your email...">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><i class="fa fa-envelope-o"></i></button>
                        </span>
                    </div>    
                </div>
            </div>
        </div><!--/end container-->
    </div>
    <!--=== End Shop Suvbscribe ===-->
<script src="assets/jquery-steps/build/jquery.steps.js"></script>
<script src="assets/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="assets/shop.app.js"></script>
<script src="assets/forms/page_login.js"></script>
<script src="assets/plugins/stepWizard.js"></script>
<script src="assets/forms/product-quantity.js"></script>