    <!--=== Header v5 ===-->   
    <div class="header-v5 header-static">
        <!-- Topbar v3 -->
        <div class="topbar-v3">
            <div class="search-open">
                <div class="container">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="search-close"><i class="icon-close"></i></div>
                </div>    
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-inline right-topbar pull-right">
                            <!-- <li><a href="#">Account</a></li> -->
                            <!-- <li><a href="#">Wishlist (0)</a></li> -->
                            <!-- <li><a href="#">Login</a> | <a href="#">Register</a></li> -->
                            <li><i class="search fa fa-search search-button"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--/container-->
        </div>
        <!-- End Topbar v3 -->

        <!-- Navbar -->
        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html" style="font-size:30px" >
											<span style="color:#18ba9b" >M</span>erakart
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <!-- Shopping Cart -->
                    <div id="shopping-cart" >
                        <%= render partial: 'cart' %>
                    </div>
                    <!-- End Shopping Cart -->

                    <!-- Nav Menu -->
                    <ul class="nav navbar-nav">
                        <!-- StaticPages -->
                        <li class="dropdown active">
                            <%= link_to 'Home', root_path %>
                        </li>
                        <!-- End StaticPages -->

                        <!-- Products -->
                        <li class="dropdown mega-menu-fullwidth mega-menu-custom-i">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                                Fashion
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-6">
                                                    <h3 class="mega-menu-heading">Apparels</h3>
                                                    <ul class="list-unstyled style-list">
                                                        <li><a href="/store?type=all">New in</a></li>
                                                        <li><a href="/store?type=coats">Coats &amp; Jackets</a></li>
                                                        <li><a href="/store?type=jeans">Jeans</a></li>
                                                        <li><a href="/store?type=dresses">Dresses</a></li>
                                                        <li><a href="/store?type=shorts">Shorts</a> <span class="label label-danger-shop">New</span></li>
                                                        <li><a href="/store?type=skirts">Skirts</a></li>
                                                        <li><a href="/store?type=t-shirts">T-Shirts</a></li>
                                                    </ul>
                                                    <h3 class="mega-menu-heading">Shoes</h3>
                                                    <ul class="list-unstyled style-list">
                                                        <li><a href="/store?type=boots">Boots</a></li>
                                                        <li><a href="/store?type=flats">FLats</a></li>
                                                        <li><a href="/store?type=heels">Heels</a></li>
                                                        <li><a href="/store?type=sandals">Sandals</a></li>
                                                        <li><a href="/store?type=sports">Sports</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-md-2 col-sm-6">
                                                    <h3 class="mega-menu-heading">Mixed</h3>
                                                    <ul class="list-unstyled style-list">
                                                        <li><a href="/store?type=all">New in</a></li>
                                                        <li><a href="/store?type=coats">Coats &amp; Jackets</a> <span class="label label-danger-shop">New</span></li>
                                                        <li><a href="/store?type=jeans">Jeans</a></li>
                                                        <li><a href="/store?type=dresses">Dresses</a></li>
                                                        <li><a href="/store?type=shorts">Shorts</a></li>
                                                        <li><a href="/store?type=skirts">Skirts</a></li>
                                                        <li><a href="/store?type=t-shirts">T-shirts</a></li>
                                                        <li><a href="/store?type=boots">Boots</a></li>
                                                        <li><a href="/store?type=flats">Flats</a></li>
                                                        <li><a href="/store?type=heels">Heels</a></li>
                                                        <li><a href="/store?type=sandals">Sandals</a></li>
                                                        <li><a href="/store?type=sports">Sports</a></li>
                                                        <li><a href="/store?type=socks">Socks</a></li>
                                                        <li><a href="/store?type=tights">Tights</a></li>
                                                    </ul>
                                                </div>        
                                            </div><!--/end row-->
                                        </div><!--/end container-->
                                    </div><!--/end mega menu content-->  
                                </li>
                            </ul><!--/end dropdown-menu-->
                        </li>
                        <!-- End Products -->

                        <!-- Clothes -->
                        <li class="dropdown mega-menu-fullwidth mega-menu-custom-ii">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="1000">
                                Others
                            </a>
                            <ul class="dropdown-menu">
                              <li>
                                <div class="mega-menu-content">
                                  <div class="container">
                                    <div class="row">
                                      <div class="col-md-2 col-sm-6">
                                        <h3 class="mega-menu-heading">Accessories</h3>
                                        <ul class="list-unstyled style-list">
                                          <li><a href="/store?type=all_acc">All accessories</a></li>
                                          <li><a href="/store?type=bags">Bags &amp; Purses</a></li>
                                          <li><a href="/store?type=hats">Scarvs &amp; Hats</a></li>
                                          <li><a href="/store?type=jewel">Jewellery</a></li>
                                          <li><a href="/store?type=beauty">Fragrance &amp; Beauty</a></li>
                                        </ul>
                                        <h3 class="mega-menu-heading">Lingerie</h3>
                                        <ul class="list-unstyled style-list">
                                          <li><a href="#">Linger</a> <span class="label label-danger-shop">New</span></li>
                                          <li><a href="#">Slippers</a></li>
                                        </ul>
                                        <h3 class="mega-menu-heading">Nightwear</h3>
                                        <ul class="list-unstyled style-list">
                                          <li><a href="/store?type=nightwear">Nightwear</a></li>
                                          <li><a href="/store?type=socks">Socks</a></li>
                                          <li><a href="/store?type=tights">Tights</a></li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                        </li>
                        <!-- End Clothes -->

                        <!-- Main Demo -->
                        <li class="about-us" ><a href="/about_us">About Us</a></li>
                        <!-- Main Demo -->
                    </ul>
                    <!-- End Nav Menu -->
                </div>
            </div>    
        </div>            
        <!-- End Navbar -->
    </div>
    <!--=== End Header v5 ===-->